html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
}

hr {
 margin: 0;
 border-top: 5px solid #eee;
}

/********** Logo/Branding *************/
.logo {
	width: 50px;
	padding: 0 0 10px 0;
	margin: 5px;
}
.navbar-default .brand, .brand {
	color: #724064;
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	font-size: 28px;
	/*margin: top right bottom left*/
	padding: 10px;
}
.navbar-brand>img {
	display: inline;
}

/********** Navigation *****************/
.navbar-nav {
	font-size: 21px;
}

/********* container padding ***********/
body > .container-fluid {
  padding: 60px 15px 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.section > .row {
	padding: 10px;
}

/********* About Me *******************/
.about-me {
	background-color: #B8A0B2;
}

/********* Portfolio *******************/
.portfolio {
	/*background-color: pink;*/
}

/********* Resume *******************/
.resume {
	background-color: #B8C188;
}

/********* Connect *******************/
.connect {
	background-color: #79A2CF;
}

/********** Footer *************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}