html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
}

hr {
color:orange;
}

/********** Logo/Branding *************/
.logo {
	width: 20px;
	margin: 5px;
}
.navbar-default .brand, .brand {
	color: purple;
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	font-size: 28px;
}
.navbar-brand>img {
	display: inline;
}

/********** Navigation *****************/
.navbar-nav {
	font-size: 21px;
}

/********* container padding ***********/
body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}


/********* About Me *******************/
.about-me {
	/*background-color: purple;*/
}

/********* Portfolio *******************/
.portfolio {
	/*background-color: pink;*/
}

/********* Resume *******************/
.resume {
	/*background-color: orange;*/
}

/********* Contact *******************/
.contact {
	/*background-color: gray;*/
}

/********** Footer *************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}